.nav {
    text-align: center;
    background-color: rgba(140, 179, 238, 0.85);
    font-size: 1.8vw;
     position: sticky;
     font-family: "Sofia", sans-serif;
     /* height: 70px; */
  }
  
  
   h2{
    font-style: oblique;
    text-shadow: 0.2vw 0.2vw 0.1vw  rgb(248, 248, 250);
  font-size: 2.5vw;
  margin: 0;
}

.nav ul{
    margin: 0px;
    display: flex;
    /* justify-content: space-evenly; */
  }
  
  .nav ul li{
   
    list-style: none;
    margin-inline: 2%;
  }
  

.nav ul li span{
    color:blue;
}
.nav ul li a{
    color: white;
    text-decoration: none;
}
.nav h3{
  justify-content: right;
  margin: 0;
  /* margin-right:; */
}
.fa{
  align-items: right;
}

.cartbox .fa{
  position: relative;
font-size: 2.5vw;
/* color: rgb(201, 201, 17); */
  box-shadow: 0.1vw 0.1vw 0.1vw rgb(142, 135, 135);
/* border: 2px solid black; */
  padding:0.8vw;
}
 .count{
  position: absolute;
  top: -24px;
  /* right: -40%; */
  left:30px;
  font-size: 2vw;
  border-radius: 50%;
  padding: 2px;
  background-color: #ffff;
}