
.title_content  {

   display: flex;
   margin-top: 5%;
   justify-content: space-around;
   min-height: 40vw;
   /* position: absolute;
   right: 15%; */
}

.title_content  .imagebox{

   width: 70%;
}
.title_content .slider{
   display: flex;
   flex-direction: column;
   position: relative;
   margin-left:10%;
   /* background: #000; */
}
.title_content .slider img{
/* position: absolute; */
top: 0;
/* margin-left: 5%; */
}
.title_content  .imagebox h1{
   text-shadow: 0vw 0.2vw white;
   font-size: 2.8vw;
}
.title_content  .imagebox p{
   font-size: 2vw;
}
.title_content  .imagebox .image1{
   opacity: 0.9;
   position: relative;
 max-height: 300px;
 max-width: 300px;
 width: 100%;
 
}
  

.title_content  .imagebox .img1,.img2,.img3{
   max-height: 300px;
 max-width: 300px;
   width:80vw;
   height: 35vw; 
   

}
.title_content .imagebox_content{
   background-color: rgb(128, 128, 128,0.25);
   position: absolute;
   top:20vw;
   right:5vw;
}
.title_content .imagebox_content p{
   background-color: rgb(165, 165, 247,0.55);
}
.title_content div{
   font-size:2vw;
}
span{
   color:blue;
}