.homepage{
    /* background:linear-gradient(to right bottom,rgb(184, 179, 245),whitesmoke,rgb(211, 222, 243),rgb(15, 121, 241)); */
    /* background:linear-gradient(to right bottom,rgb(189, 186, 218),whitesmoke,rgb(201, 211, 230),rgb(15, 121, 241)); */
}

.homepage .headname {
    background:linear-gradient(to bottom right,rgba(96, 156, 244, 0.85),white,rgba(96, 156, 244, 0.85));
    font-size: 2.7vw;
}
/* .homepage h2{
    font-style: oblique;
    text-shadow: 0.2vw 0.2vw 0.1vw  rgb(248, 248, 250);
  font-size: 2.5vw;
  margin: 0;
} */
.homepage span{
    color:blue;
 }

